@model Car



<form method="post">
    <input asp-for="Id" hidden/>

    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="twxt-primary">Araç Sil</h2>
            </hr>
        </div>  
        <div class="mb=3">
            <label asp-for="CarTypeId" class="p-0"></label>
            <input asp-for="CarTypeId" class="form-control" />
 
        </div>
        
        <div class="mb=3">
            <label asp-for="Definition" class="p-0"></label>
            <input asp-for="Definition" class="form-control" />

        </div>
        <div class="mb=3">
            <label asp-for="Brand" class="p-0"></label>
            <input asp-for="Brand" class="form-control" />

        </div>
        <div class="mb=3">
            <label asp-for="Price" class="p-0"></label>
            <input asp-for="Price" class="form-control" />

        </div>
        <div class="mb=3">
            <label asp-for="ImageUrl" class="p-0"></label>
            <input type="file" name="file" class="form-control" />
        </div>


        
        </div>

        <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Araç Sil</button>

        <a asp-controller="Car" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
            Araçlara Sayfasına Geri Dön
        </a>



    </div>


</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}



