@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    
   
    <p>Beni Takip Et!    <a href="https://www.instagram.com/mrtkaankrgz?igsh=azEwaWd6dHdtYWV0">   İnstagram</a>.</p>

</div>
