@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="container text-center mt-5 p-4" style="background-color: #f9f9f9; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <h2 class="text-danger fw-bold">@ViewData["Title"]</h2>
    <h3 class="mt-3">📞 05522474307</h3>
    <h3 class="mt-2">✉️ <a href="mailto:mert.kaan.krgz@gmail.com" class="text-decoration-none text-dark">mert.kaan.krgz@gmail.com</a></h3>
    <br />
    <h4 class="mt-4">🎥 Proje YouTube Sunum Linki:</h4>
    <a href="mailto:mert.kaan.krgz@gmail.com" class="btn btn-primary mt-2">E-posta Yolla</a>
    <br />

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.714002600468!2d30.649743475692166!3d36.89718957221962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c391dad00dd6a1%3A0x325ca1699d1a559f!2sAkdeniz%20%C3%9Cniversitesi%20Teknik%20Bilimler%20Myo!5e0!3m2!1str!2str!4v1735303630874!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

<style>
    body {
        background: linear-gradient(to bottom, #f0f8ff, #ffffff); /* Üstten alta yumuşak geçişli bir degrade */
        font-family: Arial, sans-serif;
    }
</style>

